<footer class="dms-band site-footer bg-black py-2 mt-0">
	<div class="container text-white">
	  	<div class="row d-flex ">
	  		<div class="col-8 mx-auto">
		  		<h3 class="text-center">Supported by
		    	<a href="http://www.redhat.com"><img  src="https://www.redhat.com/cms/managed-files/logo-RedHat_white.svg" alt="Red Hat" class="img-fluid" w="200"></a></h3>
		    </div>
	    </div>
	</div>

    <!-- SCRIPTS start -->

  <!-- Vendors -->
  <!-- <script src="@@vendor_js"></script> -->
  <script src="//www.redhat.com/ux/webdms/js/vendors/jquery.waypoints.min.js"></script>

  <!-- Red Hat -->
  <script src="//www.redhat.com/sites/all/libraries/webrh/dist/js/webrh.webcomponents.js"></script>

  <!-- Studio Web -->
  <script src="//www.redhat.com/ux/webdms/js/scripts.min.js"></script>

  <!-- Project -->
  <script src="/assets/js/contributor-link.js"></script>

<!-- SCRIPTS end -->
    
</footer>
