{% assign navs = include.nav | default: site.data.navigation %}

<header id="top" class="dms-band contributor-link-nav-top py-1 bg-black sticky">
    <div class="container text-white">
        <div class="row d-flex align-items-center">
            <div class="col-6 pl-4">
                <a href="/" title="Red Hat Design logo">
                    <img class="img-fluid" src="/assets/images/contributor-link_logo-light-stacked.svg" width="146" height="46" alt="Contributor link logo">
                </a>
            </div>

            <div class="col-6 d-none d-md-block text-right">
                <a href="/about" title="About" class="text-white">About</a>
                <a href="/projects" title="Projects" class="text-white px-4">Projects</a>
                <a href="/resources" title="Resources" class="text-white">Resources</a>
            </div>

            <div class="col-6 contributor-link-nav-toggle-wrapper d-md-none text-right">
                <a href="#" class="btn-toggle p-1" data-toggle="nav-shelf">
                    <div class="d-inline-block">
                        <span class="menu-bar"></span>

                        <span class="menu-bar"></span>

                        <span class="menu-bar"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>

</header>

<div class="dms-band contributor-link-nav-shelf text-white py-0" >
    <div class="nav-container px-4">
        <div id="ContributorNav" class="accordion">
          <ul class="list-unstyled">
            <li class="pt-2"><a href="/about" title="About" class="text-white">About</a></li>
            <li class="py-2"><a href="/projects" title="Projects" class="text-white">Projects</a></li>
            <li><a href="/resources" title="Resources" class="text-white">Resources</a></li>
          </ul>
        </div>
    </div>
</div>


{% unless include.wrap == false %}
  </nav>
{% endunless %}
